<h1>Product Catalog</h1>

<div class="row">
  <div class="col-4">
    <% @categories.order(:lft).each do |category| %>
      <div class="row">
        <%= link_to "#{'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' * category.level} #{category.name}".html_safe, controller: "catalogs", action: "show", id: category  %>
      </div>
    <% end %>
  </div>
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <% @product_categories.each do |product_category| %>
          <tr>
            <td><%= product_category.product.id %></td>
            <td><%= product_category.product.name %></td>
            <td><%= product_category.product.price %></td>
            <td><%= product_category.product&.category&.self_and_ancestors&.pluck(:name)&.join(" > ") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

