<h1>Edit Product</h1>

<% if @product.errors.any?%>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <% @product.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </div>
  </div>
<% end %>

<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :category, 
      collection: @category.options_for_all_categories,
      selected: @product&.category&.id
  %>
  <%= f.submit %>
<% end %>

