<h1>Product#show</h1>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<%= @product.name %>
<%= @product.description %>
<%= @product.price %>
