<h1>Product#show</h1>
<%= link_to "All Products", products_path, { class: "btn btn-info" } %>
<%= link_to "Edit", edit_product_path(@product), { class: "btn btn-info" } %>
<%= button_to "Delete",
  product_path(@product),
  class: "btn btn-danger",
  method: :delete
%>

<br>
<%= render "layouts/flash_message" %>
<h4>Name</h4>
<%= @product.name %>

<br>

<h4>Description</h4>
<%= @product.description %>

<br>

<h4>Price</h4>
<%= @product.price %>

<br>

<h4>Category Hierarchy</h4>
<%= @category&.hierarchy %>

<br><br><br>

