<h1>Product#show</h1>

<br>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<h4>Name</h4>
<%= @product.name %>

<br>

<h4>Description</h4>
<%= @product.description %>

<br>

<h4>Price</h4>
<%= @product.price %>

<br><br>

<%= link_to "Edit", edit_product_path(@product), { class: "btn btn-info" } %>
